RewriteEngine on

RewriteRule contact index.php?p=contact [L]
RewriteRule view/(.*) index.php?p=view-product&id=$1 [L]
RewriteRule Basket/Notavailable/(.*) index.php?p=view-basket&variationNotAvailable=$1 [L]
RewriteRule Basket/Remove/(.*) index.php?p=remove-from-basket&variationId=$1 [L]
RewriteRule Basket/add/(.*) index.php?p=add-to-basket&action=$1 [L]
RewriteRule Basket index.php?p=view-basket [L]

RewriteCond %{REQUEST_URI} !^/Dropbox/unicenta-web-frontend/index.php$
RewriteCond %{REQUEST_URI} !^/Dropbox/unicenta-web-frontend/$
RewriteCond %{REQUEST_URI} !^/Dropbox/unicenta-web-frontend/index.*$
RewriteCond %{REQUEST_URI} !^/Dropbox/unicenta-web-frontend/templates.*$
RewriteCond %{REQUEST_URI} !^/Dropbox/unicenta-web-frontend/images.*$
RewriteCond %{REQUEST_URI} !^/Dropbox/unicenta-web-frontend/admin.*$
RewriteCond %{REQUEST_URI} !/includes/getImage.php*$

RewriteRule (.*) index.php?p=view-category&id=%{REQUEST_URI} [L] 

#//If page request is not equal to:
#	>contact
#	>about
#	>storefinder
#	>basket
# Then pass the request to index.php?p=request
